<div class="row justify-content-center">
</div>
  <div id="map"
    style="width: 100%; height: 370px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<div class="container mt-5">
  <div class="cards">
    <% @bartenders.each do |bartender| %>
      <div class="card shadow-lg border-0">
        <div class="card-body p-0">
            <% if bartender.photo.attached? %>
              <%= cl_image_tag bartender.photo.key, class:"w-100 card-img-top" %>
            <% else %>
                <%= image_tag "bar_image.jpg" , :alt => "Close picture of bottles", class:"w-100 card-img-top "%>
            <% end %>
          <div class="p-4">
            <h5 class="mb-0"><%= bartender.user.first_name %></h5>
            <p class="small text-muted"><%= bartender.city %></p>
            <%= link_to "Take a look", bartender_path(bartender.id), class:"btn button-80" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
