<div class="container">
  <div class="row justify-content-center">
    <div class="column col-8">
      <h1>Create your bartender profile below!</h1>
        <%= simple_form_for(@bartender) do |f| %>
          <%= f.input :city %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file, multiple: true %>
          <div class="form-actions">
            <%= f.button :submit, "Create profile", class:"col btn btn-dark-moon btn-rounded" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
