<div class="container">
  <div class="row justify-content-center align-items-center mt-3 pt-5">
    <div class="col">
      <div class="booking-card p-5">
        <h1>Create your <strong>bartender</strong> profile below!</h1>
        <%= simple_form_for(@bartender) do |f| %>
          <%= f.input :city %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <div class="form-actions">
            <%= f.button :submit, "Create profile", class:"btn btn-primary w-100 btn-bartender py-3 w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
