<div class="container">
  <div class="row align-content-center">
    <div class="column col-6">
      <h1>Become a bartender now!</h1>
        <%= simple_form_for(@bartender) do |f| %>
          <%= f.input :city %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <div class="form-actions">
            <%= f.button :submit, "Create profile", class:"col btn btn-dark-moon btn-rounded" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
