
<div class="container">
  <div id="bartenders-show">
    <div class="row justify-content-center">
      <div class="card-trip">
          <% if @bartender.photo.attached? %>
                  <%= cl_image_tag @bartender.photo.key, class:"d-block h-100 "  %>
                <% else %>
                  <%= image_tag "bar_image.jpg" , :alt => "Close picture of bottles", class:"d-block h-100 "%>
                <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= @bartender.user.first_name %></h2>
            <%= @bartender.city %>
          </div>
          <h2 class="card-trip-pricing"><%= @bartender.city %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
    <div class="bartender-card-august">
      <div>
        <div class="card-product">
          <%= image_tag 'drink.jpg' %>
          <div class="card-product-infos">
            <h2>Pink bitch</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
        <div class="card-product">
          <%= image_tag 'drink.jpg' %>
          <div class="card-product-infos">
            <h2>Devils viagra</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>

      </div>
      <div class="card-august">
        <h3>Description</h3>
        <%= @bartender.description %>
      </div>
      <%= link_to "Book now!", new_bartender_booking_path(@bartender), class:"col btn btn-dark-moon btn-rounded"%>
