<div class="container mt-5">
    <div class="headers"><h1>My bookings:</h1></div>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="card">
        <%= image_tag "bar_image.jpg", :alt => "Bartender", class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= booking.bartender.user.first_name %></p></h5>
          <p class="card-text">Start: <%= booking.start_date %></p>
          <p class="card-text">Until: <%= booking.end_date %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="headers"><h1 class=mt-4>My booking requests:</h1></div>
  <div class="cards">
    <% @my_bookings.each do |request| %>
      <div class="card">
        <%= image_tag "bar_image.jpg", :alt => "Bartender", class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= request.bartender.user.first_name %></p></h5>
          <p class="card-text">Start: <%= request.start_date %></p>
          <p class="card-text">Until: <%= request.end_date %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Back to all Bartenders", bartenders_path, class: "btn btn-primary" %>
