  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "bar_image.jpg" , :alt => "Close picture of bottles", class:"d-block w-100 banner-image"%>
          <div class="carousel-caption">

              <div class="m-5"><a href="/bartenders">Show <strong>bartenders</strong></a></div>

                <div class="row justify-content-center">
                  <div class="column col-4">
                      <%= form_tag bartenders_path, class:"form-inline search-bar", method: :get do %>
                        <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Find a Bartender"
                        %>
                        <%= submit_tag "Search", class: "btn btn-primary search-button" %>
                      <% end %>
                  </div>
                </div>

          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "bartender.jpg", class:"d-block w-100 banner-image", :alt => "Picture of a bartender in action" %>
          <div class="carousel-caption">

            <div class="m-5"><a href="/bartenders">Show <strong>bartenders</strong></a></div>

                <div class="row justify-content-center">
                  <div class="column col-4">
                      <%= form_tag bartenders_path, class:"form-inline search-bar", method: :get do %>
                        <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Find a Bartender"
                        %>
                        <%= submit_tag "Search", class: "btn btn-primary search-button" %>
                      <% end %>
                  </div>
                </div>


          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "bottles.jpg", class:"d-block w-100 banner-image", :alt => "picture of bar with no people" %>
          <div class="carousel-caption">

              <div class="m-5"><a href="/bartenders">Show <strong>bartenders</strong></a></div>

                <div class="row justify-content-center">
                  <div class="column col-4">
                      <%= form_tag bartenders_path, class:"form-inline search-bar", method: :get do %>
                        <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Find a Bartender"
                        %>
                        <%= submit_tag "Search", class: "btn btn-primary search-button" %>
                      <% end %>
                  </div>
                </div>


          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag "shadows-of-bottles.jpg", class:"d-block w-100 banner-image", :alt => "picture of bar with no people" %>
          <div class="carousel-caption">

            <div class="m-5"><a href="/bartenders">Show <strong>bartenders</strong></a></div>

                <div class="row justify-content-center">
                  <div class="column col-4">
                      <%= form_tag bartenders_path, class:"form-inline search-bar", method: :get do %>
                        <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Find a Bartender"
                        %>
                        <%= submit_tag "Search", class: "btn btn-primary search-button" %>
                      <% end %>
                  </div>
                </div>


          </div>
        </div>
      </div>
  </div>

<div class="row justify-content-center">
  <h1>Top rated <strong>bartenders</strong></h1>
</div>
  <div class="container mt-5">
  <div class="row pb-5 mb-4">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0"><img src="https://bootstrapious.com/i/snippets/sn-cards/profile-1_dewapk.jpg" alt="" class="w-100 card-img-top">
            <div class="p-4">
              <h5 class="mb-0">John Big D August Wanger</h5>
              <p class="small text-muted">Bartender</p>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://bootstrapious.com/i/snippets/sn-cards/profile-3_ybnq8v.jpg" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Ruben Assmuss</h5>
            <p class="small text-muted">Bartender</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://bootstrapious.com/i/snippets/sn-cards/profile-2_ujssbj.jpg" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Carl Sheiferdick</h5>
            <p class="small text-muted">Bartender</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0"><img src="https://res.cloudinary.com/mhmd/image/upload/v1570799922/profile-2_ujssbj.jpg" alt="" class="w-100 card-img-top">
          <div class="p-4">
            <h5 class="mb-0">Konstantin Von Schuberein</h5>
            <p class="small text-muted">Bartender</p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
